.tweet {
  min-width: 300px;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  gap: var(--small-size);
}

.avatar-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px var(--primary-front) solid;
}

.content {
  flex-grow: 4;
  align-content: center;
}

p {
  font-size: 1.1em;
}

small {
  font-size: 0.8em;
  font-weight: 600;
}
